@import url('https://fonts.googleapis.com/css?family=Roboto');

html, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

*:focus {
    outline: none;
}
